body, h1, #livesLeft, #wins, #guessedLetter{
	text-align: center;
}

body{
	font-size: 36px;
	background:#777777;
}

h1{
	color:yellow;
}

#livesLeft{
	color:red;
}

#wins{
	color:blue;
}

#guessedLetter{
	color:orange;
}
